nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 1.5em 1em;
  position: fixed;
  top: 0;
  left: 0;
  transition: background-color 0.5s;
}

.bungee {
  font-family: 'Bungee', sans-serif; /* LOGO ONLY (Bungee) */
}

.red-icon {
  color: red;
}

nav div.flex-container-col {
  cursor: pointer;
}

div#compose-tweet-btn i {
  animation: bounce 1.5s ease-in-out infinite;
  animation-direction: alternate-reverse;
}

@keyframes bounce {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, 8px);
  }
}

.hide {
display: none;
}